{% set config = salt['pillar.get'](app_key) %}

[program:{{ config['name'] }}-docs-proxy]
command = /opt/pypi-docs-proxy/env/bin/gunicorn -b 0.0.0.0:{{ config['docs_port'] }} --access-logfile - --error-logfile - docs_proxy:application
autostart = true
autorestart = true
stopwaitsecs = 15
stopsignal = TERM
stdout_logfile = /var/log/{{ config['name'] }}/docs-proxy.stdout.log
stderr_logfile = /var/log/{{ config['name'] }}/docs-proxy.stderr.log
user = {{ config['user'] }}
environment = DOCS_PROXY_BUCKET={{ config['docs_bucket'] }}
