# Provides UDP syslog reception
$ModLoad imudp
$UDPServerRun 514

# Provides TCP syslog reception
$ModLoad imtcp
$InputTCPServerRun 514

$ModLoad imtcp
$InputTCPServerRun 514

$ModLoad omprog
$ActionOMProgBinary {{ path }}/env/bin/rsyslog-cdn-wrapper.sh

# Don't rate-limit
$SystemLogRateLimitInterval 0

# Don't filter duplicate lines
$RepeatedMsgReduction off

$DirCreateMode 0755

# Send all logging to a process
:app-name, isequal, "{{ syslog_name }}" :omprog:
# Log everything from the CDN to a file
:app-name, isequal, "{{ syslog_name }}" /var/log/cdn/{{ syslog_name }}/access.log
# Discard logs
:app-name, isequal, "{{ syslog_name }}" ~

$DirCreateMode 0700

# Turn back on filtering duplicate lines
$RepeatedMsgReduction on
