{% set config = salt['pillar.get'](app_key) %}
#!/bin/sh

### BEGIN INIT INFO
# Provides:          {{ config['name'] }}
# Required-Start:    $local_fs $remote_fs $network
# Required-Stop:     $local_fs $remote_fs $network
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: starts the {{ config['name'] }} uwsgi server
# Description:       starts the {{ config['name'] }} uwsgi server
### END INIT INFO

. /etc/rc.d/init.d/functions

daemon={{ config['path'] }}/env/bin/uwsgi
pidfile=/var/run/{{ config['name'] }}/pypi.pid
lockfile=/var/lock/subsys/{{ config['name'] }}

prog={{ config['name'] }}

daemon_opts="{{ config['path'] }}/src/config.ini"

start() {
    [ -x $daemon ] || exit 5
    echo -n $"Starting $prog: "
    daemon $daemon $daemon_opts
    retval=$?
    echo
    [ $retval -eq 0 ] && touch $lockfile
    return $retval
}

stop() {
    echo -n $"Stopping $prog: "
    killproc -p $pidfile $prog
    retval=$?
    echo
    [ $retval -eq 0 ] && rm -f $lockfile
    return $retval
}

check_status() {
    status -p $pidfile
}

check_status_q() {
    status -p $pidfile > /dev/null 2>&1
}

reload() {
    echo -n $"Reloading $prog: "
    killproc -p $pidfile $prog -HUP
    echo
}

case "$1" in
  start)
        check_status_q && exit 0
        start
        ;;
  stop)
        check_status_q || exit 0
        stop
        ;;
  status)
        check_status
        ;;
  reload)
        reload
        ;;
  force-reload)
        reload
        ;;
  restart)
        stop
        start
        ;;
  *)
        echo "Usage: $proc {start|stop|status|restart|reload|force-reload}" >&2
        exit 1
        ;;
esac
