{% set secrets = salt['pillar.get']("secrets-"+app_key) -%}
#!/bin/bash
export ACCESS_KEY={{ secrets['cdn_log_archiver']['access_key'] }}
export SECRET_KEY={{ secrets['cdn_log_archiver']['secret_key'] }}
export PYPI_LOG_BUCKET={{ pypi_log_bucket }}
export S3_HOST={{ s3_host }}
{% if debug -%}
export DEBUG=10
{%- endif %}

/opt/pypi-cdn-log-archiver/env/bin/pypi-cdn-log-archiver
