{% set config = salt['pillar.get'](app_key) %}

server {
  listen 443;
  server_name {{ " ".join(config['server_names']) }};
  include nginx.ssl.conf;
  include conf.d/{{ config['name'] }}/app.conf;
}

server {
  listen {{ config['tls_port'] }};
  include nginx.ssl.conf;
  include conf.d/{{ config['name'] }}/app.conf;
}

server {
  listen {{ config['docs_port'] }};
  port_in_redirect off;
  root {{ config['data_mount'] }}/packagedocs;
}
