debug = False
log_level = "INFO"
full_trace = False

graphite_ip = "{{ graphite_ip }}"
graphite_port = {{ graphite_port }}
graphite_max_reconnects = {{ graphite_max_reconnects }}
graphite_reconnect_delay = {{ graphite_reconnect_delay }}

name_prefix = None
name_postfix = None
name_replace_char = '_'
name_strip_duplicates = True
name_host_trim = []
