
[mirror]
directory = {{ directory }}
master = {{ master }}
timeout = {{ timeout }}
workers = {{ workers }}
stop-on-error = {{ stop_on_error }}
delete-packages = {{ delete_packages }}

[statistics]
access-log-pattern = {{ access_log_pattern }}


