{% if 'develop' in grains['roles'] %}
#*/1 * * * * pypi-mirror /opt/bandersnatch/bin/bandersnatch -c /etc/bandersnatch/{{ mirror }}.conf mirror |& logger -t bandersnatch[{{ mirror }}-mirror]
{% else %}
*/1 * * * * pypi-mirror /opt/bandersnatch/bin/bandersnatch -c /etc/bandersnatch/{{ mirror }}.conf mirror |& logger -t bandersnatch[{{ mirror }}-mirror]
{% endif %}
