{% if 'develop' in grains['roles'] %}
#*/5 * * * * pypi-mirror ( /opt/bandersnatch/bin/bandersnatch mirror >> /data/pypi-mirror/mirror-cron.log 2>&1 ) & sleep 15 ; kill $! 
{% else %}
*/1 * * * * pypi-mirror /opt/bandersnatch/bin/bandersnatch mirror >> /data/pypi-mirror/mirror-cron.log 2>&1
{% endif %}
