{% if 'develop' in grains['roles'] %}
#*/1 * * * * pypi-mirror /opt/bandersnatch/bin/bandersnatch mirror |& logger -t bandersnatch[mirror]
{% else %}
*/1 * * * * pypi-mirror /opt/bandersnatch/bin/bandersnatch mirror |& logger -t bandersnatch[mirror]
{% endif %}
