{% set config = salt['pillar.get']('postgresql_cluster', {}) -%}

{% for rule, hba_entry in config.get('pg_hba', []).items() -%}

{% set type = hba_entry.get('type', 'host') -%}
{% set database = hba_entry.get('database', 'all') -%}
{% set user = hba_entry.get('user', 'all') -%}
{% set address = hba_entry.get('address', '0.0.0.0/0') -%}
{% set method = hba_entry.get('method', 'md5') -%}

{{ type }} {{ database }} {{ user }} {{ address }} {{ method }}
{% endfor -%}
