# Default from PostgreSQL 9.3
max_connections = 100

shared_buffers = {{ salt['pillar.get']('postgresql_cluster:postgresql:shared_buffers', '2048MB') }}
work_mem = {{ salt['pillar.get']('postgresql_cluster:postgresql:work_mem', '64MB') }}
maintenance_work_mem = {{ salt['pillar.get']('postgresql_cluster:postgresql:maintenance_work_mem', '820MB') }}
effective_cache_size = {{ salt['pillar.get']('postgresql_cluster:postgresql:effective_cache_size', '4096MB') }}

log_destination = 'stderr'
logging_collector = on
log_directory = 'pg_log'
log_filename = 'postgres-%Y-%m-%d_%H%M%S'
log_rotation_age = 1d
log_rotation_size = 1GB
log_min_duration_statement = 250ms
log_checkpoints = on
log_connections = on
log_disconnections = on
log_lock_waits = on
log_temp_files = 0

log_line_prefix = '< %m >'
log_timezone = 'UTC'
datestyle = 'iso, mdy'
timezone = 'UTC'
lc_messages = 'en_US.UTF-8'
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'
default_text_search_config = 'pg_catalog.english'

{% set internal = salt['pillar.get']('pypi_internal_network') %}
listen_addresses = '{{ salt['ip_picker.ip_addrs'](cidr=internal)[0] }},127.0.01'

{% if 'primary' in grains['roles'] %}
# Primary
wal_level = hot_standby
archive_mode = on
archive_command = 'cp -i %p /var/lib/pgsql/9.3/backups/archives/%f'
max_wal_senders = 10
wal_buffers = 16MB
checkpoint_completion_target = 0.9
checkpoint_timeout = 10m
checkpoint_segments = 32
wal_keep_segments = 32
{% endif %}

{% if 'standby' in grains['roles'] %}
# Standby
hot_standby = on
{% endif %}
