[program:{{ app_name }}-gunicorn]
command = /opt/{{ app_name }}/env/bin/unicornherder -g /opt/{{ app_name }}/env/bin/gunicorn --pid /var/run/{{ app_name }}/gunicorn.pid -- -c /opt/{{ app_name }}/gunicorn.py {{ app_module }}
autostart = true
autorestart = true
stopsignal = QUIT
stdout_logfile = /var/log/{{ app_name }}/unicorn-herder.log
stderr_logfile = /var/log/{{ app_name }}/unicorn-herder.error.log
user = {{ app_name }}
directory = /opt/{{ app_name }}
environment = WAREHOUSE_CONF=/etc/warehouse/{{ app_name }}.yml
