{% for vip, config in salt['pillar.get']('virtual_ips').iteritems() %}
{% set auth_pass = config.get('auth_pass', 'pass') %}
{% set vrid = config.get('vrid', '50') %}
{% set interface = salt['ip_picker.interfaces_for_cidr'](cidr=config['cidr'])[0] %}

vrrp_instance VI_{{ loop.index }} {
    interface {{ interface }}
    virtual_router_id {{ vrid }}
{% if 'primary' in salt['grains.get']('roles') %}
    state MASTER
    priority 150
{% else %}
    state BACKUP
    priority 100
{% endif %}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ auth_pass }}
    }
    virtual_ipaddress {
        {{ vip }}
    }
}

{% endfor %}
